[ContrastEffect]
contrast=1.0
enabled=true
intensity=1.0
saturation=1.4

[Desktop Entry]
Comment=RoRo theme please no copyright strike
Name=RoRo
X-KDE-PluginInfo-Author=Applethal
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=RoRo
X-Plasma-API=5.0

[Wallpaper]
defaultFileSuffix=.png
defaultHeight=1080
defaultWallpaperTheme=Next
defaultWidth=1920
